pillow
protobuf
affine
attrs
click
click-plugins
cligj
cycler
decorator
imageio
kiwisolver
matplotlib
netron
networkx
numpy
opencv-python
pyparsing
python-dateutil
pywavelets
rasterio
rio-color
rio-mucho
scikit-image
scipy
setuptools
snuggs
tensorflow-gpu<2.0
tifffile
tqdm
flatbuffers<2,>=1.12
keras<2.10.0,>=2.9.0rc0
tensorboard<2.10,>=2.9
tensorflow-estimator<2.10.0,>=2.9.0rc0
