pillow
protobuf
affine
attrs
click
click-plugins
cligj
cycler
decorator
imageio
kiwisolver
matplotlib
netron
networkx
numpy
opencv-python
pyparsing
python-dateutil
pywavelets
rasterio
rio-color
rio-mucho
scikit-image
scipy
setuptools
snuggs
tensorboard==1.13.0
tensorflow==1.13.1
tensorflow-gpu==1.13.1
kapre==0.1.4
tifffile
tqdm
